*.pyc
run.py

stdComps.csv
compsUsed.csv
usedImages.txt
calibCompsUsed.csv
calibrationErrors.txt
calibStands.csv
calibcats
*.npy
CalibrationSanity*
CalibAll.csv
starVariability.*
ColourCoefficients.txt
calibStandsAll.csv
periodEstimates.txt
*.png
*.eps

.idea/
inputs/
checkplots/
outputcats/
outputplots/
__pycache__/
astrosource/test/__pycache__/
.pytest_cache/
.cache/
*.egg-info

build/
dump.rdb
dist/
astrosource.egg-info/

.coverage
htmlcov

.ipynb_checkpoints/

*.log
*.prof
*.svg
